<div class="m-2 p-2">
  <h4>
    <div>
      {{question.question}}
      <span [hidden]="!graded">
        <i [hidden]="answer === question.correct" class="fas fa-check float-right"></i>
        <i [hidden]="answer !== question.correct" class="fas fa-times float-right"></i>
      </span>
    </div>
  </h4>

  <ul class="list-group">
    <li class="list-group-item
    {{graded && choice === answer && choice !== question.correct? 'list-group-item-danger': ''}}
    {{graded && choice === question.correct? 'list-group-item-success': ''}}"
        *ngFor="let choice of question.choices">
      <label>
        <input [(ngModel)]="answer" type="radio" value={{choice}} name="question._id">
        {{choice}}
      </label>
      <span class="float-right" [hidden]="!graded">
          <i [hidden]="choice !== question.correct" class="fas fa-check float-right"></i>
          <i [hidden]="choice === question.correct" class="fas fa-times float-right"></i>
      </span>
    </li>
  </ul>
  <br>
  <div>
    Your Answer: <span [hidden]="graded === false">{{answer}}</span>
  </div>
  <br>
  <div>
    <button (click)="submitAnswer()" class="btn btn-primary float-right">
      Grade
    </button>
  </div>
  <br>
</div>
