<h1>Course List ({{courses.length}})</h1>

<h3>{{newCourseTitle}}</h3>

<ul class="list-group">
  <li
    class="list-group-item list-group-item-action"
    *ngFor="let course of courses">
    <i class="fas fa-chalkboard-teacher"></i>
    <a
      class="ml-2"
      routerLink="/courses/{{course._id}}">
      {{course.title}}
    </a>

    <a
      class="float-right btn btn-primary"
       routerLink="/courses/{{course._id}}/quizzes">
      Quizzes
    </a>
  </li>
</ul>

<h1>{{newCourseTitle}}</h1>
