<div>
  <div class="jumbotron text-center">
    <div class="container"><h1 class="jumbotron-heading">Welcome to Whiteboard!</h1>
      <p class="lead text-muted">Whiteboard is an American educational technology company with its
        corporate headquarters in Boston Massachusetts. It is best known for Whiteboard Learn, a
        learning management system. Designed at Northeastern University, Whiteboard is one of the
        most prevalent educational tools for online learning which gained a great deal of traction
        during the 2020 COVID-19 outbreak.</p></div>
  </div>
  <div class="text-center mb-4"><h1 class="jumbotron-heading">Whiteboard Features:</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body"><h5 class="card-title">Fastest Growing online platform!</h5><h6
            class="card-subtitle mb-2 text-muted">Whiteboard grew by 150% in the year 2020 driven by
            strong sales and high demand.</h6></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body"><h5 class="card-title">Most Advanced Educational Tool!</h5><h6
            class="card-subtitle mb-2 text-muted">Whiteboard was rated the nations top education
            online tool because of its advanced capabilities.</h6></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body"><h5 class="card-title">Safest for Online Learning</h5><h6
            class="card-subtitle mb-2 text-muted">In 2020, Whiteboard was rated the safest
            environment for online learning by the department of education.</h6></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body"><h5 class="card-title">Most Affordable tool</h5><h6
            class="card-subtitle mb-2 text-muted">As one of the largest platforms, Whiteboard was
            rated as the most affordable tool for online education.</h6></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body"><h5 class="card-title">Effective Learning</h5><h6
            class="card-subtitle mb-2 text-muted">Whiteboard was noted to be the most effective tool
            for online learning, even for students that prefer in-person learning..</h6></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body"><h5 class="card-title">Easy to Learn</h5><h6
            class="card-subtitle mb-2 text-muted">Whiteboard was rated as one of the best
            user-friendly platforms when it comes to online education tools in 2020.</h6></div>
        </div>
      </div>
    </div>
  </div>
</div>
